body{
    background-color:#F5CCE8;
}
#page{
    width: 1200px;
    height: 1000px;
    background-color:#C880B7;
    margin: 0 auto;
}
#top{
    width: 1200px;
    height: 200px;
    background-color:#EC9DED;
}
#navi{
    width: 1200px;
    height: 50px;
    background-color:#9F6BA0;
}
#content{
    width: 1200px;
    height: 800px;
    background-color:#4A2040;
}
.NavButton{
    width:299px;
    text-align: center;
    font-size: 16pt;
    text-transform: uppercase;
    line-height: 2.4;
    background-color:rgb(140, 52, 158);
    color:#000;
    float: left;
    margin-right: 1px;
}
.NavButton:hover{
    background-color:rgb(83, 20, 230);
}
ul{
    list-style: none;
    margin:0px;
    margin-left:-40px;
}
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
a:visited{
    color:#000;
}
#NowButton{
    background-color:#4A2040;
}
/*formas pozicionēšana*/
.login{
    position: relative;
    width: 350px;
    height: 300px;
    background-color: azure;
    margin: 0 auto;
    top: 200px;
}
.loginlogs{
    margin: 0 auto;
    margin-left: 10px;
}
.logininputs{
    margin-top: 10px;
    font-size: 20pt;
}